@use 'fonts';
@use 'variables';
@use 'scroll-bar';

body {
  font-family: 'Nokora', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$text-color;
}

h1.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 0.84375;
  color: #000;
  margin-bottom: 26px;
}

.slider {
  position: relative;

  .swiper-container {
    overflow: hidden;

    @media screen and (max-width: 768px) {
      overflow: initial;
    }
  }
}

.mfp-content {
  max-width: 881px;
  width: 91% !important;

  .mfp-close {
    top: 15.5px;
    right: 15.5px;

    @media screen and (max-width: 768px) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}

.swiper-slide {
  position: relative;

  .slider-image {
    width: 100%;
    height: 370px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 375px) {
      height: 300px;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    &-thumb {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  h3.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: max-content;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}


.slider-popup {
  padding: 48px;

  @media screen and (max-width: 768px) {
    padding: 48px 0;
  }

  .popup-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.125;
    text-align: center;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px solid #8a8a8a;

    @media screen and (max-width: 768px) {
      margin: 0 23.5px 17px;
    }
  }

  .popup-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;

    @media screen and (max-width: 768px) {
      height: 270px;
      padding: 0 6px;
      margin: 0 10.5px;
      overflow: auto;
    }
  }

  .scroll-element.scroll-y.scroll-scrolly_visible {
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 10.5px;
      bottom: 0;
      border-radius: 1px;
      width: 2px;
      background: #efeeea;
      z-index: 1000;

      .scroll-bar {
        background-color: #997f5a;
        border-radius: 1px;
      }
    }
  }
}
